body{
  margin: 0px;
}
.MuiCard-root {
  width: 100%
}
.sn_logo{
  height: 25px;
  padding: 15px;
}
.searchBoxDiv {
  text-align: center;
  height: 40px;
  background-color: #293e40 !important;

}
#searchBox{
  outline: 0;
  font-size: 15px;
  height: 34px;
  margin-top: 2px;
  width: 244px;
  line-height: 42px;
  padding: 0 16px;
  background-color: #293e40;
  color:white;
  border: 1px solid #81B5A1;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px;
}
.sectionHeader{
  background-color: #E2E2F8;
  height: 60px
}
.divStyle {
  height: calc(100vh - 130px);
  overflow: auto;
  background-color: #81B5A1
}
.listStyle{
  padding-left: 1vh;
  padding-right: 1vh;
  list-style: none;
}
.innerListStyle:focus{
outline-color: '#293e40';
outline-style: solid;
outline-width: 2px;
}
.footerStyle {
  height:30px
}
.loading{
  margin-left: 4vh;
}

.search-box,.close-icon {
	position: relative;
	padding: 10px;
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
  visibility: hidden;
}
.close-icon:after {
	content: "x";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: rgb(129, 181, 161);
	z-index:1;
	right: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 1px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal; 
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
  
}
/* .search-box:not(:valid) ~ .close-icon {
	display: none;
} */



#searchBox:placeholder-shown  + button {
  visibility: hidden;
}


/* #searchBox + svg {
  visibility: hidden;
}
#searchBox:placeholder-shown + svg {
  visibility: visible;
} */